h1 {
  color: green;
}
body {
  background-color: #e29404;
  color: red;
}
ul li {
  color: white;
  background-color: #09eb3a;
  padding: 10px;
  font-size: 40px;
  margin: 20px;
}
p {
  background-color: #09eb3a;
  color: black;
  padding: 20px;
}
h3 {
  color: #ff0000;
  font-size: 40px;
  padding: 28px;
  margin: 30px;
}
button {
  padding: 10px 20px;
  background-color: white;
  border: none;
}
