h1 {
  color: blue;
}
body {
  background-color: #e29404;
  color: red;
}
ul li {
  color: white;
  background-color: #09eb3a;
  padding: 10px;
}
p {
  background-color: #09eb3a;
  color: black;
  padding: 20px;
}
h3 {
  color: aqua;
  font-size: 25px;
  padding: 28px;
}
